@font-face {
    font-family: 'gigsguru';
    src:url('../fonts/gigsguru.eot');
    src:url('../fonts/gigsguru.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gigsguru.svg#gigsguru') format('svg'),
        url('../fonts/gigsguru.woff') format('woff'),
        url('../fonts/gigsguru.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-ico]:before {
    font-family: 'gigsguru';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ico-"]:before {
*/
.ico-map:before, .ico-map-2:before, .ico-map-pin-fill:before, .ico-star:before, .ico-star-2:before, .ico-phone:before, .ico-twitter-old:before, .ico-facebook:before, .ico-list:before, .ico-double-angle-down:before, .ico-double-angle-up:before, .ico-search:before, .ico-calendar:before, .ico-cd:before, .ico-office:before, .ico-user:before, .gcal:before, .artist:before, .artist_tip:before, .ico-dollar:before, .ico-info:before, .ico-angle-down:before, .ico-angle-up:before, .ui-icon-arrow-d:before, .ico-arrow-up-alt1, .ico-arrow-down-alt1 {
    font-family: 'gigsguru' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.ico-map:before {
    content: "\e000";
}
.ico-map-2:before {
    content: "\e001";
}
.ico-map-pin-fill:before {
    content: "\e002";
}
.ico-star:before {
    content: "\e004";
}
.ico-star-2:before {
    content: "\e005";
}
.ico-phone:before {
	content: "\e007";
}
.ico-twitter-old:before {
    content: "\e00a";
}
.ico-facebook:before {
    content: "\e009";
}
.ico-list:before {
    content: "\e008";
}
.ico-double-angle-down:before {
    content: "\f103";
}
.ico-double-angle-up:before {
    content: "\f102";
}
.ico-search:before {
    content: "\e003";
}
.ico-calendar:before, .gcal:before {
    content: "\e006";
}
.ico-cd:before {
    content: "\e00b";
}
.ico-office:before {
    content: "\e00c";
	margin-right: 5px;
}
.ico-user:before, .artist:before {
    content: "\e00d";
}
.ico-dollar:before, .artist_tip:before {
	content: "\e00e";
}
.ico-info:before {
	content: "\e00f";
}
.ico-angle-down:before {
	content: "\f107";
}
.ico-angle-up:before {
	content: "\f106";
}
.ico-arrow-up-alt1:before {
	content: "\e010";
}
.ico-arrow-down-alt1:before {
	content: "\e011";
}


.ui-icon-arrow-d {
	background-image:none;
	background:none;
	border-radius:0px;
	font-size: 1.3em;
	color:#450f3e;
}
.ui-icon-arrow-d:before {
	
	content: "\e011";
}




body {    
    font-size:14px; 
}

a {
	color:#777;	
}

.ui-content {
	padding: 0;
}

.ui-input-search {
	margin: 0;
}

.ui-header {
    background-image:none;
    background-color:transparent;
}

#header {
    background-color:#450f3e !important;
	width: 100%;
	height: 44px;
}

#title { float:left; font-family: monospace; font-size: 18pt;}
#title span { vertical-align: top; color: #bb993b; position: relative; top: 7px; left: 3px; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; }
#logo {padding: 5px 8px; width: 34px; height: 34px;}

nav #actions li {
    display: inline-block;
    padding: 5px 6px 0 6px;
    width:32px;
    float:right;
	height:39px;
}

#actions { margin: 0; }

#actions .ico {
    font-size:2.25em;  
}

#actions .ico.hover {
    color:#c9a93f;  
}

nav #actions li.toggled {
    background-color: lightgrey;
    color: #450f3e;
}
.ui-header nav {
    text-align: center;
}

#search {
    height: 2em;
}

.event-image {
    max-width: 55px;
    max-height: 55px;
    
}

.ui-collapsible {
    
    margin-bottom: 10px !important;
    border-radius:0px;
}

.ui-collapsible-heading-toggle .image {
    max-width: 11%;
    display: inline-block;
}
.ui-collapsible-heading-toggle .details {
    width: 89%;
    display: inline-block;
}   

.event-header {
	margin: 6px 5px 2px;	
}
.event-header > .image {
	float: left;
	display: inline;
	margin-right: 5px;
	margin-bottom: 1px;
}
.details {
    padding-left: 5px;
    padding-bottom: 5px;
    vertical-align: top;
}
.event-name {
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 1.3em;
	margin-bottom: 3px;
}

.source {
    width: 100%;
    display: block;
    line-height: 1em;       
}
.venue:after {
    content: ", ";
}
#events-list {
	padding: 0;
	margin: 12px 0 6px;
}

#events-list .icon {
    margin-right: 1em;
}
.icon.info:after{
    content: "\2139";
}
.icon.music:after{
    content: "\266A";
}
.icon.gcal:after{
    content: "\0BF0";
}


#filters-area {
    text-align: center;
	
}

.actions {
	background-color: #e8e8e8;
	padding: 3px 2px 0;
	
}

.actions a {display:block; margin-right: 15px; margin-left:15px;}

#events-list .actions >div{
    display: inline-block;
}
.favorite.selected {
    color: green;
}
p {
	margin-top: 0;
	margin-left: 5px;
	margin-right: 5px;
	}
li.event {
    display: block;
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	border-radius: 4px;
	border: 1px solid #ddd;
	margin: 0 5px 8px 5px;
	padding: 0;
	background-color: #f7f7f7;
}
.event-body {
	clear: left;
}
.event-body.collapsed {
    overflow: hidden;
    text-overflow: ellipsis;
}
.event-body+.collapser {
    text-align: center;
}
.event-links {
    margin: 1em;
    padding: 0;
}
.event-links li {
    display: block;
    padding: 0;
    margin: 0;
}
#search-area, #favorite-area {
	border-bottom: 1px solid #ccc;
	padding: 6px 4px 5px;
    background-color:lightgrey;
}

#favorite-area {
	text-align: center;
	font-size: 16px;
	padding: 13px 18px 13px;
	color: #222;
	text-shadow:1px 1px 1px white;
}
#no-results {
	padding: 12px 18px;
	font-size: 16px;
}

.ui-body-c, .ui-overlay-c {
	background-color: #f1f1f1;
	background-image: none;
}
.event .actions a {
	text-decoration: none;
	color: #777;
	padding: 6px 0 2px 4px;
	vertical-align: bottom;
	font-size: 28px;
	min-width: 28px;
	line-height: 28px;
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px 1px white,0 2px 1px white;
}

.event .actions iframe {
    float: right;
}

#map-view {
    background-color:lightgrey;
	width: 100%;
}

.event-links {
    margin: 0;
    padding: 1.5em;
}
.event-links li {
    display: block;
    margin: .5em 0;
    font-weight: bold;
}
