@font-face {
    font-family: 'gigsguru';
    src:url('../fonts/gigsguru.eot');
    src:url('../fonts/gigsguru.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gigsguru.svg#gigsguru') format('svg'),
        url('../fonts/gigsguru.woff') format('woff'),
        url('../fonts/gigsguru.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-ico]:before {
    font-family: 'gigsguru';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ico-"]:before {
*/
.ico-map:before, .ico-map-2:before, .ico-map-pin-fill:before, .ico-star:before, .ico-star-2:before, .ico-phone:before, .ico-twitter-old:before, .ico-facebook:before, .ico-list:before, .ico-double-angle-down:before, .ico-double-angle-up:before, .ico-search:before, .ico-calendar:before, .ico-cd:before, .ico-office:before, .ico-user:before {
    font-family: 'gigsguru';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.ico-map:before {
    content: "\e000";
}
.ico-map-2:before {
    content: "\e001";
}
.ico-map-pin-fill:before {
    content: "\e002";
}
.ico-star:before {
    content: "\e004";
}
.ico-star-2:before {
    content: "\e005";
}
.ico-phone:before {
    content: "\e007";
}
.ico-twitter-old:before {
    content: "\e00a";
}
.ico-facebook:before {
    content: "\e009";
}
.ico-list:before {
    content: "\e008";
}
.ico-double-angle-down:before {
    content: "\f103";
}
.ico-double-angle-up:before {
    content: "\f102";
}
.ico-search:before {
    content: "\e003";
}
.ico-calendar:before {
    content: "\e006";
}
.ico-cd:before {
    content: "\e00b";
}
.ico-office:before {
    content: "\e00c";
}
.ico-user:before {
    content: "\e00d";
}
body {
    
    font-size:14px; 
}

.ui-header,
.ui-footer { background-color: #450f3e !important; }

.ui-header {
    min-height: 55px;
}

.ui-header {
    background-color:#450f3e !important;
    background-image:none;
    min-height: 55px;
}

#logo {float:left;}

nav {
    margin-top:10px;    
}

nav #actions li {
    display: inline-block;
    padding: 5px;
    width:50px;
    float:right;
}

#actions .ico {
    font-size:3em;  
}

#actions .ico.hover {
    color:#c9a93f;  
}

nav #actions li.toggled {
    background-color: lightgrey;
}
.ui-header nav {
    text-align: center;
}

#search {
    height: 2em;
}

.event-image {
    max-width: 55px;
    max-height: 55px;
    
}

.ui-collapsible {
    
    margin-bottom: 10px !important;
    border-radius:0px;
}

.ui-collapsible-heading-toggle .image {
    max-width: 11%;
    display: inline-block;
}
.ui-collapsible-heading-toggle .details {
    width: 89%;
    display: inline-block;
}   

.event-header {
    display: table;
}
.event-header>* {
    display: table-cell;
}
.details {
    padding-left: .2em;
    vertical-align: top;
}
.event-name {
    width: 100%;
    display: block;
    line-height: 1em;
    font-weight: bold;
    font-size: 1.3em;
    height: 40px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
}

.source {
    width: 100%;
    display: block;
    line-height: 1em;       
}
.venue:after {
    content: ", ";
}
#events-list .icon {
    margin-right: 1em;
}
.icon.info:after{
    content: "\2139";
}
.icon.music:after{
    content: "\266A";
}
.icon.gcal:after{
    content: "\0BF0";
}
.icons.venue:after{
    content: "\2302";
}

#filters-area {
    text-align: center;
}

.myEvent {clear:both; border: 2px solid #450f3e; margin-bottom: 10px; }
.myEvent .image img {max-width: 100px; max-height: 100px;}
.eventDetials {list-style:none;}
.eventDetails li {display:inline;}
.actions {
    height: 40px; 
    list-style:none; 
    background-color:#450f3e; 
    display: inline-block; 
    float: right; 
    border-radius: 5px 0px 0px 5px;
}
.actions li {float:right; width: 50px; text-align: center;}
.actions li .ico {font-size: 2em; color:#fff;}
#events-list .actions >div{
    display: inline-block;
}
.favorite.selected {
    color: green;
}
li.event {
    display: block;
}
.event-body.collapsed {
    max-height: 4.8em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event-body+.collapser {
    text-align: center;
}

#search-area {
    padding:10px;
    background-color:lightgrey;
}

#actions li {height: 56px;}

